{# Vista utilizada para cambiar la contraseña del usuario #}
{% extends 'layout/base.html.twig' %}
{% block contenido %}
{# div necesario para que la vista se ajuste (no lleva cierre porque lo cierra la vista base) #}
<div class="container marketing">
<div class="row">
  <div class="col-md-4">
    <h3>Atención!</h3>
    {% if ((rol == 2) or (rol == 3)) %}
      <p>
        <b class="text-primary">Nota: </b> Cada pedido se realiza de forma individual, es decir, si se quiere pedir 2 resmas A4 se hace el pedido se envía, si se quiere pedir 1 resma oficio se hace el pedido y se envía.<br>
        <b class="text-primary">Nota: </b> Para saber el estado de mi pedido debe entrar en Pedido - <a href="../controller/pedido-listado-mis-pedidos.php">Listado mis pedidos</a>.<br>
        <b class="text-primary">Nota: </b> <b>Cuando selecciona el producto debajo</b> se obtiene un breve texto de la <b>descripción del mismo</b>, por ejemplo si selecciona un tóner abajo se describe las impresoras compatibles.<br>
        <b class="text-primary">Nota: </b> <b>Cuando selecciona la cantidad debajo</b> se obtiene un breve texto que <b>informa si hay stock del producto o no</b>.<br>
        <b class="text-primary">Nota: </b> <b>Si solicita un tóner</b> no se olvide de agregar las páginas totales impresas.<br><br>
        <b class="text-success">¡Muchas gracias por su atención!</b><br>
        Centro de Cómputos - Municipalidad de Tres Arroyos
      </p>
    {% else %}
        <p>Ingrese una breve descripción del pedido siendo lo más específico posible.</p>
        <b class="text-primary">Nota: </b> Puede ver los pedidos reservados en Pedidos - <a href="../controller/pedido-listado-reservados.php">Listado de pedidos reservados</a>.<br>
    {% endif %}
    {#<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>#}
  </div>
  <br>
  <div class="col-md-8" id="tarjeta">
    <div class="panel panel-default">
      <div class="panel-heading"><center><i class="fa fa-shopping-bag" aria-hidden="true"></i> Nuevo <b>Pedido</b></center></div>
      <div class="panel-body">
        <form method="post" action="../controller/pedido-new.php">
          {% if msjError == true %}
          <div class="alert alert-dismissible alert-danger">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>¡Error!</strong> {{msj}}
          </div>
          {% elseif msjExito == true %}
          <div class="alert alert-dismissible alert-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>¡Exito!</strong> {{msj}}
          </div>
          {% endif %}
          <div class="col-md-12">
          {# Si el usuario es administrador muestra el listado de usuarios del sistema #}
          {% if ((rol == 1) or (rol == 2)) %}
          <div class="col-md-12">
            <div class="form-group">
              <label class="control-label">Usuario *</label>
              <select class="form-control" id="usuario" name="usuario" data-validation="required">
                {% for tuplaUsuario in listadoDeUsuarios %}
                  <option value="{{tuplaUsuario.id}}">{{tuplaUsuario.nombreArea}} - {{tuplaUsuario.apellido}}, {{tuplaUsuario.nombre}} ({{tuplaUsuario.usuario}})</option>
                {% endfor %}
              </select>
            </div>
          </div>
          {% endif %}

          <div class="col-md-12">
            <div class="row">
              <div class="col-md-6">
              <div class="form-group">
                <label class="control-label">Producto (marca) *</label>
                <select class="form-control" id="producto" name="producto" data-validation="required">
                  {% for tuplaProducto in listadoDeProductos %}
                    <option value="{{tuplaProducto.id}}">{{tuplaProducto.nombre}} ({{tuplaProducto.marca}})</option>
                  {% endfor %}
                </select>
              </div>
              <div id="resultadoDescripcion" class="text-info"></div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label">Cantidad *</label>
                  <input class="form-control" type="text" name="cantidad" id="cantidad" data-validation="number" data-validation-allowing="range[1;999999]" placeholder="Ingrese cantidad del pedido" onKeyUp="buscarCantidad();">
                  <div id="resultadoCantidad" class="text-info"></div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-12">
            <div class="form-group">
              <label class="control-label">Descripción * (<span id="des-max-length">255</span> caracteres restantes)</label>
              <textarea class="form-control" name="descripcion" id="descripcion" placeholder="Ingrese una breve descripción del pedido. Por ejemplo, total de pag. impresas." row="6" maxlength="255" data-validation="length required" data-validation-length="1-255" data-validation-error-msg="La descripción debe contener [1-255 caracteres]."></textarea>
            </div>
          </div>

          <div class="col-md-12">
          <div class="form-group">
            <div class="row">
              <div class="col-md-6">
                <span class="help-block">Los campos con * son necesarios completarlos.</span>
                <span class="help-block"><p class="text-danger">¡Por favor! verficar los datos antes de enviarlos.</p></span>
                <button type="submit" class="btn btn-outline btn-primary">Enviar</button>
              </div>
            </div>
          </div>
          </div>
        </form>
      </div>
    </div>{#-- div panel --#}
  </div>
</div>
{% endblock %}
{% block menu %}
  {# Script para submenues #}
  <script>
    (function($){
      $(document).ready(function(){
        $('ul.dropdown-menu [data-toggle=dropdown]').on('click', function(event) {
          event.preventDefault(); 
          event.stopPropagation(); 
          $(this).parent().siblings().removeClass('open');
          $(this).parent().toggleClass('open');
        });
      });
    })(jQuery);
  </script>
{% endblock %}
{% block plugins %}
{# Plugin Form-validator #}
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/jquery.form-validator.min.js"></script>
<script>
  // Form-validator
  $.validate({
    lang : 'es',
    modules : 'location, date, security, file',
    onModulesLoaded : function() {
      $('#country').suggestCountry();
    }
  });

  // Restringe la longitud de la descripción
  $('#descripcion').restrictLength($('#des-max-length'));
</script>
<script>
  // Para cuando el documento se active el query este vacio
  $(document).ready(function() {
      $("#resultadoCantidad").html('<p></p>');
  });
  // Funcion que muestra si el producto posee stock
  function buscarCantidad() {
      var producto = $("select#producto").val();
      var textoCantidad = $("input#cantidad").val();
   
       if (textoCantidad != "") {
          $.post("../controller/buscarCantidad.php", {valorCantidad: textoCantidad, idProducto: producto}, function(mensajeCantidad) {
              $("#resultadoCantidad").html(mensajeCantidad);
           }); 
       } else { 
          $("#resultadoCantidad").html('<p></p>');
          };
  };
    </script>
<script>
    // Muestra la descripcion del producto
    $("#producto").change(function(){
        var idPro = $("select#producto").val();
        $.post("../controller/buscarDescripcion.php", {valorBusqueda : idPro}, function(mensajeDescripcion) {
      $("#resultadoDescripcion").html(mensajeDescripcion);
    });
  // Borra el valor del input cantidad cuando se selecciona otra producto
  document.getElementById('cantidad').value = '';
  $("#resultadoCantidad").html('<p></p>');
  });
</script>
{% endblock %}